:root {
  --main-color: #1d1934;
  --first-color: #c8a977;
  --second-color: #e5bec3;
  --third-color: #0075a9;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --element-transition: all 150ms ease-in-out;
  --font-header: "Limelight", cursive;
  --font-content: "Josefin Sans", sans-serif;
}

@font-face {
  font-family: hatolie;
  src: url("../fonts/hatolie.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--main-color);
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

main {
  background-color: white;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/pexels-valeria-boltneva-939835.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 200px 0;
  text-align: center;
  width: 100%;
}

header h1 {
  font-family: hatolie;
  font-size: 156px;
  font-weight: 200;
  margin: 30px 0;
}

header h2 {
  font-family: var(--font-content);
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-family: var(--font-content);
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  background: var(--second-color);
  border-radius: 4px;
  display: inline-block;
  font-family: var(--font-content);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5px;
  letter-spacing: 3px;
  margin-top: 32px;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

header a:hover {
  background: var(--main-color);
  transition: var(--element-transition);
}

.name-salon {
  font-family: hatolie;
  font-size: 52px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

main h2 {
  color: var(--main-color);
  font-family: var(--font-header);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}

.card-title {
  color: var(--first-color);
}

main h3 {
  color: var(--main-color);
  font-family: var(--font-content);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  /* opacity: 0.8; */
}

main h4 {
  font-family: var(--font-content);
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: var(--first-color);
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: var(--main-color);
  margin: 0;
}

p,
strong {
  color: var(--main-color);
  font-family: var(--font-content);
  font-size: 22px;
  font-weight: 300;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--second-color);
}

ul {
  list-style: none;
}

footer {
  background: var(--main-color);
}

footer h4 {
  color: var(--first-color);
  font-family: var(--font-content);
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: repeat(2, 1fr);
}

.grid-2-columns-contact {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-columns {
  grid-template-columns: repeat(3, 3fr);
}

.img-responsive-round {
  border-radius: 50%;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive {
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.secondary {
  background: rgb(255, 245, 245);
}

.gold {
  background: #c8a977;
  padding: 30px;
}

.card {
  border-radius: 8px;
  background: var(--main-color);
  margin-top: auto;
  margin-bottom: auto;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 20px;
}

.button {
  background: var(--first-color);
  border-radius: 4px;
  color: white !important;
  display: block;
  max-width: 100%;
  font-family: var(--font-content);
  font-weight: 700;
  font-size: 14px;
  line-height: 21xp;
  letter-spacing: 3px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--element-transition);
}

.button:hover {
  background: var(--second-color);
}

.tip {
  font-size: 14px;
}

.icon {
  color: white;
  font-size: 26px;
  padding: 12px;
}

.instagram-embed {
  margin-left: auto;
  margin-right: auto;
}

.contact-text {
  margin-top: 30px;
  text-align: right;
}

.social-media {
  font-size: 56px;
  padding: 12px;
  text-align: center;
}

.footer-text {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 240px 0px 240px;
}

.giovanna {
  font-family: var(--font-content);
  font-weight: 800;
  font-size: 20px;
}

@media (max-width: 998px) {
  .grid-2-columns {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  .grid-3-columns {
    align-items: center;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 58px;
  }

  header h2 {
    font-size: 28px;
    line-height: 0.9;
  }

  header h3 {
    font-size: 16px;
  }

  section {
    padding: 20px;
  }

  main h2 {
    font-size: 24px;
  }

  .grid-2-columns-contact {
    grid-gap: 0px;
    grid-template-columns: 1fr;
  }

  .grid-3-columns {
    align-items: center;
  }

  .contact-text {
    text-align: center;
  }

  .footer-text {
    padding: 40px;
  }
}
